body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f7f0;
    color: #333;
    margin: 0;
    overflow: hidden;
}

/* jatek kontener */
#game-container {
    border: 5px solid #4CAF50;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    position: relative;
    width: 500px;
    height: 650px;
}

/*jatek terulezt*/
#game-area {
    width: 100%;
    height: 600%;
    background-color: #e8f5e9;
    position: relative;
    cursor: none;
}

/* jatekos */
#player {
    position: absolute;
    bottom: 10px;
    width: 80px;
    height: 15px;
    background-color: #333;
    border-radius:  5px;
    z-index: 10;
}

/*laptop fedele*/
#player::after {
    content: '';/* Pszeudo-elem a fedél/díszítés létrehozásához */
    display: block;
    width: 50%;
    height: 5px;
    background-color: #4CAF50;
    position: absolute;
    top: -5px;
    left: 25%;
    border-radius: 2px 2px 0 0;/*felso sarkok lekerekitese*/
}

/* leeso alkatreszek */
.falling-item {
    position: absolute;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    width: 30px;
    pointer-events: none;
    user-select: none;/*ne lehessen kijelolni*/
}

#ui-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 2px solid #388e3c;

}

#message-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
    opacity: 0;
    visibility: hidden;/* Kezdetben rejtett */
    transition: opacity 0.5s;
    z-index: 1000;/* Legfelül jelenjen meg */
}

#message-box.active {
    opacity: 1;/*teljes lathatova tétel*/
    visibility: visible;
}

#medssage-box button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #FFC107;
    color: #333;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}