body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f7f0;
    color: #333;
    margin: 0;
    overflow: hidden;
}

/* jatek kontener */
#game-container {
    border: 5px solid #4CAF50;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    position: relative;
    width: 500px;
    height: 650px;
}

/*jatek terulezt*/
#game-area {
    width: 100%;
    height: 600%;
    background-color: #e8f5e9;
    position: relative;
    cursor: none;
}

/* jatekos */
#player {
    position: absolute;
    bottom: 10px;
    width: 80px;
    height: 15px;
    background-color: #333;
    border-radius:  5px;
    z-index: 10;
}

/*laptop fedele*/
#player::after {
    content: '';/* Pszeudo-elem a fedél/díszítés létrehozásához */
    display: block;
    width: 50%;
    height: 5px;
    background-color: #4CAF50;
    position: absolute;
    top: -5px;
    left: 25%;
    border-radius: 2px 2px 0 0;/*felso sarkok lekerekitese*/
}

